.app-container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  transition: transform 0.3s ease-in-out;
}

.content-area {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f8f9fa;
}

@media (max-width: 768px) {
  .sidebar {
    transform: translateX(-100%);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 1000;
  }

  .sidebar.show {
    transform: translateX(0);
  }

  .content-area {
    padding: 20px;
    margin-left: 0;
  }
}


.dashboard-content,
.inventory-content,
.orders-content,
.returns-content,
.customers-content,
.shipping-content,
.channel-content,
.integrations-content,
.calculators-content,
.reports-content,
.account-content {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991.98px) {
  .custom-margin {
      margin-bottom: 50px;
  }
}

@media (min-width: 992px) {
  .custom-margin {
      margin-bottom: 0;
  }
}